<!DOCTYPE html>
<html>
<head>
    <title>Recibo Estado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .table-bordered {
            border: 2px solid #000080;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Recibo Estado</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID Recibo Estado</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for recibo_estado in datos_recibo_estado %}
                <tr>
                    <td>{{ recibo_estado[0] }}</td>
                    <td>{{ recibo_estado[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
